<div class="row" style="zoom:0.7;">
    <div class="col-sm-12">
      	<div class="card">
	        <div class="table-responsive">
		        <table class="table table-hover">
		            <thead class="thead-dark">
		            <tr>
		                <th>Sr. No</th>
		                <th>Coupon ID</th>
		                <th>Coupon Name</th>
		                <th>Merchant</th>
		                <th>Category</th>
		                <th>Network</th>
		                <th>Types</th>
		                <th>Start Date</th>
		                <th>End Date</th>
		                <th>Status</th>
		            </tr>
		            </thead>
		            <tbody>
		            <tr *ngFor="let x of coupons; index as i">
		                <th scope="row">{{i+1}}</th>
		                <td>{{x.nCouponID}}</td>
		                <td style="width: 12%;">{{x.cLabel}}</td>

		                <td>{{x.cMerchant}}</td>
		                <td style="width: 12%;">
		                	<span *ngFor="let y of x.aCategoriesV2; last as isLast"  style="text-transform: capitalize;">
		                		<span *ngIf="!isLast">{{y.cName}}, </span>
		                		<span *ngIf="isLast">{{y.cName}}</span>
		                	</span>
		                </td>
		                <td>{{x.cNetwork}}</td>
		                <td style="width: 12%;">
		                	<span *ngFor="let y of x.aTypes; last as isLast" style="text-transform: capitalize;">
		                		<span *ngIf="!isLast">{{y.name}}, </span>
		                		<span *ngIf="isLast">{{y.name}}</span>
		                	</span>
		                </td>


		                <td>{{x.dtStartDate | date}}</td>
		                <td>{{x.dtEndDate | date}}</td>
		                <td>{{x.cStatus}}</td>
		            </tr>
		            </tbody>
		        </table>
	        </div>
	  	</div>
	</div>
</div>