
<div class="row" style="zoom:0.7;">
    <div class="col-sm-12">
      	<div
	    class="search-results"
	    infiniteScroll
	    [infiniteScrollDistance]="2"
	    [infiniteScrollThrottle]="50"
	    (scrolled)="onScroll()"
	    >
	        <div class="table-responsive">
		        <table class="table table-hover">
		            <thead class="thead-dark">
		            <tr>
		                <th>Sr. No</th>
		                <th>Coupon ID</th>
		                <th>Coupon Name</th>
		                <th>Merchant</th>
		                <th>Category</th>
		                <th>Network</th>
		                <th>Types</th>
		                <th>Start Date</th>
		                <th>End Date</th>
		                <th>Status</th>
		                <th>Action</th>
		            </tr>
		            </thead>
		            <tbody>
			            <tr *ngFor="let x of all_coupons; index as i">
			                <th scope="row">{{i+1}}</th>
			                <td>{{x.nCouponID}}</td>
			                <td style="width: 12%;">{{x.cLabel}}</td>

			                <td style="text-transform: capitalize;">{{x.cMerchant}}</td>
			                <td style="width: 12%;">
			                	<span *ngFor="let y of x.aCategoriesV2; last as isLast"  style="text-transform: capitalize;">
			                		<span *ngIf="!isLast">{{y.cName}}, </span>
			                		<span *ngIf="isLast">{{y.cName}}</span>
			                	</span>
			                </td>
			                <td>{{x.cNetwork}}</td>
			                <td style="width: 12%;">
			                	<span *ngFor="let y of x.aTypes; last as isLast" style="text-transform: capitalize;">
			                		<span *ngIf="!isLast">{{y.name}}, </span>
			                		<span *ngIf="isLast">{{y.name}}</span>
			                	</span>
			                </td>

			                <td>{{x.dtStartDate | date}}</td>
			                <td>{{x.dtEndDate | date}}</td>
			                <td style="text-transform: capitalize;">{{x.cStatus}}</td>
		                
			                <td>
			                	<!-- <span class="text-success" *ngIf="x.published">Published</span> -->
			                	<button class="btn btn-primary" (click)="open(mymodal, x)">Edit</button> &nbsp;
			                    <button *ngIf="!x.published" type="button" class="btn btn-warning" (click)="saveAndPublish(x.pk)">Publish</button>
			                    <button *ngIf="x.published" type="button" class="btn btn-danger" (click)="saveAndPublish(x.pk)">UnPublish</button>
			                    
			                </td>
			            </tr>
		            </tbody>
		        </table>
	        </div>
	  	</div>
	</div>
</div>


<div class="row pb-5">
   	<div class="col-md-12 p-5">
        <ngx-spinner
        bdOpacity = 0.9
        bdColor = ""
        size = "default"
        color = "#581f87"
        type = "ball-pulse-sync"
        [fullScreen] = "false"
        >
        </ngx-spinner>
	</div>
</div>


   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">
    	{{selected_deal.cLabel}}<br>
    	<span style="font-size:10px;">You have only 5 mins to edit this</span>
    </h6>
    
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
  		<table class="table table-hover">
  			<tr>
  				<td>Coupon ID</td>
  				<td>{{selected_deal.nCouponID}}</td>
  			</tr>
  			<tr>
  				<td>Original Coupon Name</td>
  				<td>{{selected_deal.cLabel}}</td>
  			</tr>
  			<tr>
  				<td>New Coupon Name</td>
  				<td><input  [(ngModel)]="new_name" class="form-control" type="text"></td>
  			</tr>
  			<tr>
  				<td>Merchant</td>
  				<td>{{selected_deal.cMerchant}}</td>
  			</tr>
  			<!-- <tr>
  				<td>Category</td>
  				<td>
  					<span *ngFor="let y of selected_deal.aCategoriesV2; last as isLast" style="text-transform: capitalize;">
                		<span *ngIf="!isLast">{{y.name}}, </span>
                		<span *ngIf="isLast">{{y.name}}</span>
                	</span>
                </td>
  			</tr> -->
  			<tr>
  				<td>Networks</td>
  				<td>{{selected_deal.cNetwork}}</td>
  			</tr>
  			<!-- <tr>
  				<td>Types</td>
  				<td>
  					<span *ngFor="let y of selected_deal.aTypes; last as isLast" style="text-transform: capitalize;">
                		<span *ngIf="!isLast">{{y.name}}, </span>
                		<span *ngIf="isLast">{{y.name}}</span>
                	</span>
            	</td>
  			</tr> -->
  			<tr>
  				<td>Start Date</td>
  				<td>{{selected_deal.dtStartDate  | date}}</td>
  			</tr>
  			<tr>
  				<td>End Date</td>
  				<td>{{selected_deal.dtEndDate  | date}}</td>
  			</tr>
  			<tr>
  				<td>Description</td>
  				<td><textarea class="form-control"  [(ngModel)]="description" placeholder="Type Something here.." type="text"></textarea></td>
  			</tr>
  		</table>
  </div>
  <div class="modal-footer">
  	{{modal_message}}
    <button type="button" class="btn btn-outline-dark" (click)="callEditAPI(selected_deal)">Ok</button> 

  </div>
</ng-template>