<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/all-deals">All Deals</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/active-deals">Active Deals</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/coupons">Published Coupons</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet>

<button type="button" class="btn btn-primary" (click)="login_as_function('Super Admin')">Login As Super Admin</button>
<button type="button" class="btn btn-secondary" (click)="login_as_function('Content Writer')">Login As Content Writer</button>
{{message_to_show}}

</router-outlet>

