/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;overflow-x:hidden; }



/**====== Tabs css end ======**/
/**  =====================
      Table css start
==========================  **/

.table-primary {
  background-color: #4680FE;
  > {
    td, th {
      background-color: #4680FE;
    }
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table {
  &.table-xl {
    td, th {
      padding: 1.25rem 2rem;
    }
  }
  &.table-lg {
    td, th {
      padding: 0.9rem 2rem;
    }
  }
  &.table-de {
    td, th {
      padding: 0.75rem 2rem;
    }
  }
  &.table-sm {
    td, th {
      padding: 0.6rem 2rem;
    }
  }
  &.table-xs {
    td, th {
      padding: 0.4rem 2rem;
    }
  }
}

.table-columned > {
  tbody > tr > {
    td:first-child, th:first-child {
      border-left: 0;
    }
  }
  tfoot > tr > {
    td:first-child, th:first-child {
      border-left: 0;
    }
  }
  tbody > tr > {
    td, th {
      border: 0;
      border-left: 1px solid #ddd;
    }
  }
  tfoot > tr > {
    td, th {
      border: 0;
      border-left: 1px solid #ddd;
    }
  }
}

.table-border-style {
  padding: 0;
  .table {
    margin-bottom: 0;
  }
}

.table > thead > tr > th {
  border-bottom-color: #ccc;
}

.table-borderless tbody tr {
  td, th {
    border: 0;
  }
}

.table-bordered > thead > tr {
  &.border-solid {
    > {
      td, th {
        border-bottom-width: 2px;
      }
    }
    &:first-child {
      > td, th {
        border-bottom-width: 2px;
      }
    }
  }
  &.border-double {
    > {
      td, th {
        border-bottom-width: 3px;
        border-bottom-style: double;
      }
    }
    &:first-child {
      > td, th {
        border-bottom-width: 3px;
        border-bottom-style: double;
      }
    }
  }
}

/**====== Table css end ======**/


.card{
  padding: 1% !important;
}
